@import url(./main.css);

.wrap { padding-bottom: 1rem; position: relative;}

.section-2 { padding-top: 1rem }
  .section-2 .text{ font-size: 0.75rem; color: #747B65; text-align: center; letter-spacing: 0.1rem; line-height:0.75rem}
  .en .section-2 .text { font-size: 0.94rem; line-height: 0.94rem; }
  .en .section-2 .text p { font-size: 0.64rem;}

.section-3 {  }
  .section-3 .inner { margin: 0.3rem 1.16rem;  padding: 1.16rem;  }
  .section-3 img { width: 7.5rem;}

.title { font-size: 0.64rem; line-height: 0.64rem; margin-bottom: 0.4rem; font-weight: bold;}

.block { margin-top: 1.2rem; font-size:.3rem; line-height: .4rem; color: #08202E; letter-spacing: 0.05rem;}
.en .block { letter-spacing: 0; font-size: .24rem; color: #717668;}
.en .block .title { color: #43463D; }
.block:after { content: ""; clear: both; display:block;}
.block-a div { width: 50%; }
.block-a .text { float: right; width: 8.03rem; }

.block-a div { width: 50%; }
.block-b .img { float: right; }
.block-b .text { width: 7.82rem; }
  
.side-img { opacity: 0.8;}
/*! history */
.s1 { width: 3.51rem; top:3.77rem; right:0; opacity:1 }
.s2 { width: 3.59rem; top:23.34rem; left:0; opacity: 1}
.s3 { width: 2.29rem; top: 28rem; right:0; opacity:1;}
.s4 { width: 3.06rem; bottom: 0rem; left:0; opacity:1;}
/*! aboutus */
.s5 { width: 2.33rem; top: 3.6rem; right:0; }
.s6 { width: 2.33rem; bottom: 0; left:0; opacity:1;}
