@import url(./main.css);
/*! HOME */

.section-2 { height: 10.5rem; }
  .section-2 .text{ left: 2.51rem; top: 4.83rem; font-size: 0.6rem; line-height: 0.6rem; text-align: center; letter-spacing: 120%;}
  .en .section-2 .text{  font-size: 0.38rem; }
  .section-2 .button { display:inline-block; margin: 0.7rem auto; background:#43463D; width:2.02rem; height:0.52rem; color:#CBC7A7; font-size: 0.26rem; line-height:0.52rem; text-align: center}
  .section-2 img { height: 7.05rem; right: 3.0rem; top: 1.7rem;}

.section-3 { height: 10.5rem; background: #CAD3B7; }
  .section-3 .text { right: 1.6rem; bottom: 3rem; width: 5.03rem; height: 2.06rem; color:#43463D; }
  /* .en .section-3 .text { width: 4.44rem; } */
  .section-3 .desc { font-size: 0.28rem; line-height: 0.4rem;}
  .section-3 .title { font-size: 0.62rem; margin-bottom: 0.2rem; line-height:0.62rem;}
  .en .section-3 .title { font-size: 0.6rem; }
  .section-3 img { width: 7.2rem; left: 4rem; top: 2rem;}
  
.section-4 { height: 10rem;  }
  .section-4 .text { left: 1.6rem; bottom: 3.14rem; width: 6.2rem; height: 3.14rem; color:#43463D; }
  /* .en .section-4 .text { top: 1.2rem; } */
  .section-4 .desc { font-size: 0.28rem; line-height: 0.4rem;}
  .section-4 .title { font-size: 0.62rem; margin-bottom: 0.2rem; line-height:0.62rem;}
  .section-4 img { right:0; top: 1.2rem; width: 12rem;}
  
.section-5 { background: #CAD3B7; padding: 1rem 0;}
  .section-5 table { text-align: center}
  .section-5 td { width: 5rem; padding: 0.3rem 0.9rem; vertical-align: bottom;}
  .section-5 .title td { font-size:0.4rem; line-height:0.4rem; text-align:center; vertical-align:middle}
  .en .section-5 .title td { font-size:0.24rem; font-weight:bold; line-height:0.24rem; text-align:center; vertical-align:middle}
  .section-5 .desc { font-size:0.22rem; line-height:0.36rem; text-align:left;}
  .section-5 .desc td{ vertical-align: top;}
  .section-5 img { width: 4.1rem; }

.section-6 { height: 12rem; text-align: center; background: #E6E9DF}
  .section-6 .logo-down { width: 6.63rem; margin: 1rem auto;}
  .section-6 .bottom-bg { width:100%; bottom:0; left:0; }
  .section-6 .text { text-align:center; color: #E9ECE2; font-size: 0.26rem; line-height:0.26rem; width:100%; bottom: 0.3rem; }

.section-7 { height: 9rem;  }
  .section-7 .text { right: 1.6rem; bottom: 3.14rem; width: 6.21rem; height: 3.14rem; color:#43463D; }
  .section-7 .desc { font-size: 0.28rem; line-height: 0.4rem;}
  .section-7 .title { font-size: 0.6rem; margin-bottom: 0.2rem; line-height:0.62rem;}
  .section-7 img { left:0; top: 1.2rem; width: 12rem;}

.section-8 { height: 7.8rem;  background: #CAD3B7}
  .section-8 .text { left: 2.19rem; bottom: 1.98rem; width: 6.2rem; height: 3.14rem; color:#43463D; }
  .section-8 .desc { font-size: 0.28rem; line-height: 0.4rem;}
  .section-8 .title { font-size: 0.6rem; margin-bottom: 0.2rem; line-height:0.62rem;}
  .section-8 .img1 { left:11.07rem; top: 1.98rem; width: 4.26rem;}
  .section-8 .img2 { left:16.12rem; top: 1.98rem; width: 4.26rem;}

.section-9 { text-align: center }
  .section-9 .desc { font-size: 0.61rem; line-height: 0.61rem; color: #43463D; margin: 1.45rem auto 0.8rem auto; }
  .section-9 .images { text-align: justify; margin-top: 1.75rem; }
  .section-9 img { width: 5.16rem; height: 5.14rem}
  .section-9 .desc .small { font-size: 0.28rem; line-height: 0.4rem; margin-top: 0.28rem;}

.footer { background-color: #E6E9DF }

