@import url(./main.css);

body { color: #727766}
.wrap {  position: relative; background: #D6E1C4}

.section-1 { background: #CCD2BA; }
.right { float: right}
.blk-wrap {padding: 0 1rem;}
.blk-hot .title { padding: 1.12rem 1.35rem; font-size: 0.68rem; color: #667382; line-height: 0.68rem; }
.en .blk-hot .title { font-size: 0.41rem }
.blk-hot .body {}
.blk-hot .img { width: 8.5rem; }
.blk-hot .desc { width: 10rem; font-size: 0.36rem;  }
.blk-inner { margin-bottom: 0.46rem; line-height: 150%; vertical-align: middle}
.blk-hot .blk-big-font { font-size: 0.4rem;  }
.colored { color: #6A5638 }
.icon { width: 1.34rem; height: 1.34rem; }
.space { height: 1.02rem; }
.rr { width: 8.3rem; }
.blk-bottom { padding: 1rem; text-align: justify;}
.blk-bottom img { width: 9.5rem; }
.upper { text-transform:uppercase;}
.blk-inner:after { content: ""; clear: both; display:block;}
.blk-hot .body:after { content: ""; clear: both; display:block;}

.footer { background: #CCD2BA}
